
.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center; 
}

.student-card {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 16px;
  
 
  max-width: 400px;    
  margin: 16px auto;   
  text-align: center;    

  background-color: #57cf65;
}

.student-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

h2 {
  text-align: center;
}